1,nzbget,Nzbget,"{
  ""host"": ""{{ nzbget_ip }}"",
  ""port"": 80,
  ""useSsl"": false,
  ""username"": """",
  ""password"": """",
  ""movieCategory"": ""Movies"",
  ""recentMoviePriority"": 0,
  ""olderMoviePriority"": 0,
  ""addPaused"": false
}",NzbgetSettings,1,0,1
