DrunkenSlug,Newznab,"{
  ""baseUrl"": ""https://api.drunkenslug.com"",
  ""apiPath"": ""/api"",
  ""multiLanguages"": [],
  ""apiKey"": ""{{ api_key_drunkenslug }}"",
  ""categories"": [
    2000,
    2010,
    2020,
    2030,
    2040,
    2045,
    2050,
    2060
  ],
  ""removeYear"": false
}",NewznabSettings,1,1,1,25,[],0
NZBgeek,Newznab,"{
  ""baseUrl"": ""https://api.nzbgeek.info"",
  ""apiPath"": ""/api"",
  ""multiLanguages"": [],
  ""apiKey"": ""{{ api_key_nzbgeek }}"",
  ""categories"": [
    2000,
    2010,
    2020,
    2030,
    2040,
    2045,
    2050,
    2060
  ],
  ""removeYear"": false
}",NewznabSettings,1,1,1,25,[],0
DOGnzb,Newznab,"{
  ""baseUrl"": ""https://api.dognzb.cr"",
  ""apiPath"": ""/api"",
  ""multiLanguages"": [],
  ""apiKey"": ""{{ api_key_dognzb }}"",
  ""categories"": [
    2000,
    2010,
    2020,
    2030,
    2040,
    2045,
    2050,
    2060
  ],
  ""removeYear"": false
}",NewznabSettings,1,1,1,25,[],0
NZBFinder.ws,Newznab,"{
  ""baseUrl"": ""https://nzbfinder.ws"",
  ""apiPath"": ""/api"",
  ""multiLanguages"": [],
  ""apiKey"": "" {{ api_key_nzbfinder }} "",
  ""categories"": [
    2030,
    2040,
    2045,
    2050,
    2060,
    2070,
    2080,
    2090
  ],
  ""removeYear"": false
}",NewznabSettings,1,1,1,25,[],0
